<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${receiverNickname} + ' 님에게 보낸 쪽지'">보낸 쪽지</title>
    <link rel="stylesheet" href="/css/message.css" />
    <th:block th:replace="~{common/common}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{common/header}"></th:block>
    <main class="message-wrapper">
      <th:block
        th:replace="~{message/messageSidebar :: messageSidebar(activePage='sent')}"
      ></th:block>

      <section class="message-content">
        <div class="message-meta">
          <span
            ><strong>받는 사람:</strong>
            <span th:text="${receiverNickname}">이름</span></span
          >
        </div>
        <div class="message-detail-content">
          <div
            class="message-title"
            th:if="${message.boardNo != null and message.boardNo > 0}"
          >
            <span th:text="'[게시글 번호] ' + ${message.boardNo}"
              >[게시글 번호]</span
            >
          </div>

          <div class="message-box">
            <p th:text="${message.messageText}">쪽지 내용 출력</p>
          </div>

          <div class="message-date">
            <span th:text="${message.messageWriteDate}">보낸 날짜</span>
          </div>

          <div class="button-group">
            <form
              method="post"
              th:action="@{/message/outboxDelete/{memberNo}/{messageNo}(memberNo=${session.loginMember.memberNo}, messageNo=${message.messageNo})}"
              style="display: inline"
              onsubmit="return confirm('이 쪽지를 삭제하시겠습니까?');"
            >
              <input
                type="hidden"
                name="boardNo"
                th:value="${message.boardNo != null ? message.boardNo : 1}"
              />
              <button type="submit" class="action-button delete-button">
                삭제
              </button>
            </form>

            <a class="action-button list-button" th:href="@{/message/outbox}"
              >목록보기</a
            >
          </div>
        </div>
      </section>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>
  </body>
</html>
