<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>보낸 쪽지함</title>
    <link rel="stylesheet" href="/css/message.css" />
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/message.css" />
  </head>

  <body>
    <th:block th:replace="~{common/header}"></th:block>
    <main class="message-wrapper">
      <th:block
        th:replace="~{message/messageSidebar :: messageSidebar(activePage='sent')}"
      ></th:block>

      <section class="message-content">
        <h2>보낸 쪽지함</h2>
        <table class="message-table">
          <thead>
            <tr>
              <th>보낸 사람</th>
              <th>제목</th>
              <th>보낸 날짜</th>
              <th>읽음 여부</th>
              <th>답장</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="entry : ${nicknameSentList}">
              <td th:text="${entry.receiverNickname}">사용자2</td>
              <td>
                <a
                  th:href="@{/message/outboxDetail/{messageNo}(messageNo=${entry.msg.messageNo})}"
                  th:text="'[' + ${entry.msg.boardNo} + '] ' + ${entry.msg.messageText}"
                >
                  [6] asdasd
                </a>
              </td>
              <td th:text="${entry.msg.messageWriteDate}">
                2025-05-20 14:39:53
              </td>
              <td
                th:text="${entry.msg.messageDelFl == 'Y' ? '읽음' : '안읽음'}"
              >
                읽음
              </td>
              <td>
                <a
                  th:href="@{/message/send/{memberNo}(memberNo=${entry.msg.receiverNo}, boardNo=${entry.msg.boardNo})}"
                >
                  답장
                </a>
              </td>
            </tr>

            <tr th:if="${#lists.isEmpty(nicknameSentList)}">
              <td colspan="5">보낸 쪽지가 없습니다.</td>
            </tr>
          </tbody>
        </table>

        <!-- 페이지네이션 -->
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#" class="active">01</a>
          <a href="#">02</a>
          <a href="#">03</a>
          <a href="#">&raquo;</a>
        </div>

        <br />
        <a href="/">홈으로 돌아가기</a>
      </section>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>
  </body>
</html>
