<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이메일로 인증하여 아이디 찾기</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/findId.css}" />
  </head>

  <body>
    <th:block th:replace="~{common/header}"></th:block>

    <main>
      <div class="container">
        <h1>이메일로 인증하여 아이디 찾기</h1>

        <form
          action="/member/findId"
          method="POST"
          name="findIdForm"
          id="findIdForm"
        >
          <div class="form-group">
            <label for="findMemberEmail">이메일</label>
            <div class="button-row">
              <div class="verify-btn">
                <input
                  type="email" id="findMemberEmail" name="findMemberEmail"
                  placeholder="가입한 이메일을 입력해 주세요"
                />
              </div>
              <button type="button" id="sendFindAuthKeyBtn">인증받기</button>
            </div>
          </div>

          <div class="form-group">
            <input
              type="text"
              id="checkFindAuthKey"
              placeholder="인증 번호를 입력해 주세요"
            />
          </div>

          <p class="findId-message" id="findAuthKeyMessage"></p>

          <button class="primary-btn">아이디 찾기</button>
        </form>
      </div>
    </main>

    <th:block th:replace="~{common/footer}"></th:block>

    <!-- 아이디 찾기 JS 추가 -->
    <script src="/js/member/findId.js"></script>
  </body>
</html>
