<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kh.semi.board.model.mapper.ShareBoardEditMapper">

	<insert id="shareInsert" parameterType="ShareBoard">
		<selectKey order="BEFORE" resultType="int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "SHARE"
		VALUES(#{boardNo},
		#{boardTitle},
		#{boardContent},
		DEFAULT, 
        DEFAULT, 
        DEFAULT, 
        DEFAULT,
		#{memberNo},
		1,
        DEFAULT,
        #{shareBoardCategoryDetailCode})
	</insert>
	
	<update id="shareUpdate">
		UPDATE "SHARE" SET
		BOARD_TITLE = #{boardTitle},
		BOARD_CONTENT = #{boardContent},
		SHARE_BOARD_CATEGORY_DETAIL_CODE = #{shareBoardCategoryDetailCode}
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_NO = #{boardNo}
		AND MEMBER_NO = #{memberNo}
	</update>
	
	<update id="shareDelete">
		UPDATE "SHARE" SET
		BOARD_DEL_FL= 'Y'
		WHERE BOARD_NO = #{boardNo}
		AND MEMBER_NO = #{memberNo}
	</update>

</mapper>