<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.semi.message.model.mapper.MessageMapper">

<insert id="insertMessage" parameterType="Message" useGeneratedKeys="false">
    
    <selectKey keyProperty="messageNo" resultType="int" order="BEFORE">
        SELECT SEQ_MESSAGE_NO.NEXTVAL FROM DUAL
    </selectKey>

    INSERT INTO MESSAGE (
        MESSAGE_NO,
        MESSAGE_TEXT,
        SENDER_NO,
        RECEIVER_NO,
        BOARD_NO,
        MESSAGE_WRITE_DATE,
        MESSAGE_READ_FL
    ) VALUES (
        #{messageNo},
        #{messageText},
        #{senderNo},
        #{receiverNo},
        #{boardNo},
        SYSDATE,
        'N'
    )

</insert>


<select id="selectReceiveMessages">
    SELECT M.MESSAGE_NO,
           M.SENDER_NO,
           S.MEMBER_NICKNAME AS senderNickname,
           M.RECEIVER_NO,
           M.MESSAGE_TEXT,
           TO_CHAR(M.MESSAGE_WRITE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS messageWriteDate,
           M.MESSAGE_READ_FL,
           M.BOARD_NO AS boardNo
    FROM MESSAGE M
    JOIN MEMBER S ON M.SENDER_NO = S.MEMBER_NO
    WHERE M.RECEIVER_NO = #{memberNo} AND (M.MESSAGE_DEL_FL) = 'N'
    ORDER BY M.MESSAGE_WRITE_DATE DESC
</select>




<select id="selectSentMessages">
    SELECT M.MESSAGE_NO,
           M.SENDER_NO,
           S.MEMBER_NICKNAME AS senderNickname,
           M.RECEIVER_NO,
           M.MESSAGE_TEXT,
           TO_CHAR(M.MESSAGE_WRITE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS messageWriteDate,
           M.MESSAGE_READ_FL,
           M.BOARD_NO AS boardNo
           
    FROM MESSAGE M
    JOIN MEMBER S ON M.SENDER_NO = S.MEMBER_NO
    WHERE M.SENDER_NO = #{memberNo} AND (M.MESSAGE_DEL_FL) = 'N'
    ORDER BY M.MESSAGE_WRITE_DATE DESC
</select>




<select id="getMessageDetail">
    SELECT M.MESSAGE_NO,
           M.SENDER_NO,
           S.MEMBER_NICKNAME AS senderNickname,
           M.RECEIVER_NO,
           R.MEMBER_NICKNAME AS receiverNickname,
           M.MESSAGE_TEXT,
           TO_CHAR(M.MESSAGE_WRITE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS messageWriteDate,
           M.MESSAGE_READ_FL,
           M.BOARD_NO AS boardNo
    FROM MESSAGE M
    JOIN MEMBER S ON M.SENDER_NO = S.MEMBER_NO
    JOIN MEMBER R ON M.RECEIVER_NO = R.MEMBER_NO
    WHERE M.MESSAGE_NO = #{messageNo}
      AND (M.SENDER_NO = #{memberNo} OR M.RECEIVER_NO = #{memberNo})
      AND (
      (M.SENDER_NO = #{memberNo} AND M.SENDER_MESSAGE_DEL_FL = 'N')
   OR (M.RECEIVER_NO = #{memberNo} AND M.RECEIVER_MESSAGE_DEL_FL = 'N')
  )
      
</select>




 <!-- 읽음 여부에 대한 업데이트 -->

<update id="updateReadFlag">
		UPDATE MESSAGE
		SET MESSAGE_READ_FL = 'Y'
		WHERE MESSAGE_NO =
		#{messageNo}
		AND RECEIVER_NO = #{memberNo}
		AND MESSAGE_READ_FL = 'N'
</update>





 <!-- 받은 쪽지 삭제 -->

<update id="deleteMessagePageIn">
UPDATE "MESSAGE" SET RECEIVER_MESSAGE_DEL_FL = 'Y' WHERE MESSAGE_NO = #{messageNo} 
</update>


 <!-- 보낸 쪽지 삭제 -->


<update id="deleteMessagePageOut">
UPDATE "MESSAGE" SET SENDER_MESSAGE_DEL_FL = 'Y' WHERE MESSAGE_NO = #{messageNo} 
</update>




 <!-- 보낸 메시지의 총 개수를 가져옴 -->

<select id="getSentCount" resultType="int">
    SELECT COUNT(*) 
    FROM MESSAGE 
    WHERE SENDER_NO = #{memberNo} 
      AND SENDER_MESSAGE_DEL_FL = 'N'
</select>



 <!-- 받은 메시지의 총 개수를 가져옴  -->
<select id="getReceivedCount" resultType="int">
    SELECT COUNT(*) 
    FROM MESSAGE 
    WHERE RECEIVER_NO = #{memberNo} 
      AND RECEIVER_MESSAGE_DEL_FL = 'N'
</select>



 <!-- 보낸 쪽지 목록 조회 (페이지네이션 포함) -->
  <select id="selectSentMessagesPagination" resultType="Message">
    SELECT 
      MESSAGE_NO,
      MESSAGE_TEXT,
      MESSAGE_WRITE_DATE,
      MESSAGE_READ_FL,
      SENDER_MESSAGE_DEL_FL,
      BOARD_NO,
      SENDER_NO,
      RECEIVER_NO
    FROM 
      MESSAGE
    WHERE 
      SENDER_NO = #{memberNo}
      AND SENDER_MESSAGE_DEL_FL = 'N'
    ORDER BY 
     MESSAGE_NO DESC
  </select>
	
	
	 <!-- 받은 쪽지 목록 조회 (페이지네이션 포함)-->
  <select id="selectReceivedMessageListPagination" resultType="Message">
    SELECT 
      MESSAGE_NO,
      MESSAGE_TEXT,
      MESSAGE_WRITE_DATE,
      MESSAGE_READ_FL,
      RECEIVER_MESSAGE_DEL_FL,
      BOARD_NO,
      SENDER_NO,
      RECEIVER_NO
    FROM 
      MESSAGE
    WHERE 
      RECEIVER_NO = #{memberNo}
      AND RECEIVER_MESSAGE_DEL_FL = 'N'
    ORDER BY 
     MESSAGE_NO DESC
  </select>
		 
</mapper>
