<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.semi.QNABoard.model.mapper.QNABoardMapper">








<select id="selectBoardTypeList">
SELECT BOARD_CODE "boardCode" , BOARD_NAME "boardName" 
FROM "BOARD_TYPE" ORDER BY BOARD_CODE
</select>














<select id="getQNAListCount">

SELECT COUNT(*) FROM "BOARD" WHERE BOARD_DEL_FL = 'N' AND BOARD_CODE = #{boardCode}

</select>






<!-- 특정 게시판의 지정된 페이지를 조회한다 -->
<select id="selectQNABoardList">

SELECT BOARD_CODE, BOARD_NO, BOARD_TITLE, READ_COUNT, MEMBER_NICKNAME,  
 QA_STATUS,
(SELECT COUNT(*) FROM "COMMENT" C WHERE C.BOARD_NO = B.BOARD_NO  AND C.COMMENT_DEL_FL = 'N') COMMENT_COUNT,
(SELECT COUNT(*) FROM "JJIM" L WHERE L.BOARD_NO = B.BOARD_NO ) LIKE_COUNT,


<![CDATA[

	CASE 	
	WHEN SYSDATE -  BOARD_WRITE_DATE < (1/24/60)
	THEN  FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24*60*60) || '초 전'
	
	WHEN SYSDATE -  BOARD_WRITE_DATE < (1/24)
	THEN  FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24*60) || '분 전'
	
	WHEN SYSDATE - BOARD_WRITE_DATE < 1
	THEN  FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'

ELSE TO_CHAR(BOARD_WRITE_DATE,'YYYY-MM-DD') 
END BOARD_WRITE_DATE -- 컬럼의 별칭 지정

]]>

FROM BOARD B 
JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO) 
WHERE BOARD_DEL_FL = 'N' AND BOARD_CODE = #{boardCode} ORDER BY BOARD_NO DESC

</select>
	
	
	

	
	
	
</mapper>
